---
import background from "../assets/background.svg";
import { invariant } from "../jslib/invariant";

import {Vestaboard} from "../jslib/Vestaboard"
import { attemptWrap } from "../jslib/wrap";

let sentHtml = "";
let message = "";
let error = '';
let useCodes = false;
let preview = false;

const {code} = Astro.params;
if (Astro.request.method === "POST") {

	const webhookUrl = import.meta.env.VESTABOARD_POST_WEBHOOK_URL;
	invariant(webhookUrl, 'Expected VESTABOARD_POST_WEBHOOK_URL to be defined');

	try {
		const data = await Astro.request.formData();
		const msg = data.get("message");

		preview = data.has('preview');
		useCodes = data.get('useCodes') ? true : false;

		if (msg) {

			message = msg.toString();

			const vb = new Vestaboard();

			const {result, complete} = attemptWrap(
				useCodes ? msg.toString() : msg.toString().toLowerCase(),
				Vestaboard.width, Vestaboard.height, {
				horizontalCenter: true,
				verticalCenter: true,
			})

			if (!complete) {
				error = 'Message is too long to fit on the Vestaboard';
			}else {
			try {
				vb.write(0,0, result);
				sentHtml = vb.htmlString();

				if (!preview) {
				const response = await fetch(webhookUrl, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({
						display: vb.current,
						message: msg.toString(),
						wrapped: result,
					}),
				});

				if (!response.ok) {
					throw new Error('Failed to send message to Vestaboard');
				}
			}

			} catch (err) {
				invariant(err instanceof Error, 'Expected an error to be an instance of Error');
				error = err.toString();
			}
		}
		}
	} catch (error) {
		if (error instanceof Error) {
			console.error(error.message);
		}
	}
}

export const prerender = false;
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section id="hero">

				{ (sentHtml && !preview) ? (
					<h1>Message Sent 🎉</h1>
					<section id="form">
						<pre id="preview" set:html={sentHtml}></pre>
						<div class="links">
							<p><a href="?">Send another message</a>
							</p>
						</div>
					</section>
				) : (
				<>{ code === 'snugglebutt' ? (
					<h1>Snugglebutt&apos;s page</h1>
					<p>Sugarbutt is looking forward to your message &lt;3</p>
				) : code === 'amanda' ? (
					<h1>&apos;mandas page</h1>
				) : (<h1>Send a message</h1>) }</>
					<>{ error ? (
						<div class="error">
							<p>{error}</p>
						</div>
					) : null}</>
				<form id="form" method="POST">
					{sentHtml ? (
					<pre id="preview" set:html={sentHtml}></pre>
					) : null}
					<textarea name="message">{message}</textarea>
					<label>
						<input type="checkbox" name="useCodes" value="useCodes" checked={useCodes} /> Use codes
						<span class="tip">(<strong>W</strong>hite, <strong>R</strong>ed, <strong>O</strong>range, <strong>Y</strong>ellow, <strong>G</strong>reen,
						<strong>B</strong>lue, <strong>V</strong>iolet, b<strong>L</strong>ack)</span>
					</label>
					<button>Clowncopterize</button>
					<button class="gray" name="preview">Preview</button>
				</form>
			)}
		</section>
	</main>
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova",
			"Nimbus Sans", Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: row;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	h1 {
		font-size: 28px;
		margin-top: 0.25em;
		color: #24272c;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #24272c;
		font-size: 24px;
	}

	#preview {
		align: center;
		display: inline-block;
		border: 1px solid #000;
		padding: 5px;
		font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
			Consolas, "DejaVu Sans Mono", monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #ecb2b2 0%, #f3b9f8 100%);
		margin: 0;
	}

	#preview span {
		background-color: #3245ff;
		display: block;
		border: 1px solid #AAA;
	}

	#form {
		display: block;
		flex-direction: column;
		gap: 16px;
		width: 520px;
	}

	#form textarea {
		padding: 16px;
		font-size: 16px;
		border-radius: 10px;
		box-sizing: border-box;
		border: 1px solid #e5e7eb;
		width: 100%;
		height: 5em;
		margin: 0.5em 0;
		font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
		Consolas, "DejaVu Sans Mono", monospace;
	}

	#form .tip {
		color: #6a6c70;
	}

	#form button {
		display: inline;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#form button:hover {
		color: rgb(78, 80, 86);
	}

	#form button {
		color: white;
		background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		font-size: 20px;
		border-radius: 10px;
		border: none;
		margin: 1em 0;
	}

	#form button.gray {
		background: linear-gradient(83.21deg, #7d84d7 0%, rgb(177, 159, 185) 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(128, 128, 128, 0.24);
	}
	#form button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}
	
	#form label {
		margin: 1em 0;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%)
				border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.error {
		padding: 12px;
		background: rgba(220, 220, 220, 0.5);
		border-radius: 16px;
		border: 1px solid rgba(0, 0, 0, 0.25);
	}

	.error p {
		color: #600b0b;
	}

	.links {
		margin: 1em;
	}
	.links a {
		color: #222;
	}
	.links a:hover {
		color: #000;
	}

	@media screen and (max-width: 640px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#form {
			width: 100%;
		}

		#form .tip {
			display: block;
		}

		#form a.button {
			padding: 14px 18px;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
